/* * {
  margin:0;
} */
:root {
  --text-color: rgba(33, 33, 33, 1);
  --alt-text-color: rgba(117, 117, 117, 1);
  --active-link-color: rgba(33, 150, 243, 1);
  --addition-bg-color: rgba(47, 48, 58, 1);
  --footer-text-color: rgba(255, 255, 255, 1);
  --button-bg-color: rgba(245, 244, 250, 1);
  --ft-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 14px;
}
li {
  list-style: none;
}
ul,
p,
figure,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
/* figure {
  margin: 0;
} */
/* .button {
  margin:0;
} */
.container {
  max-width: 1200px;
  /* technical borderline   */
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header .container {
  justify-content: space-between;
  /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly */
  align-items: center;
  /* stretch | flex-start | flex-end | */
  height: 80px;
}
.navi {
  display: flex;
  /* background-color: blueviolet; */
  align-items: center;
  justify-content: space-around;
}

.navi-links {
  display: flex;
  padding: 23px;
  /* max-width: 254px; */
  /* margin: 0; */
  /* background-color: yellowgreen; */
}
.navi-links .link {
  margin: 23px;
}
.link {
  color: var(--text-color);
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
}
.link:hover,
.link:focus {
  color: var(--active-link-color);
}
.tablink {
  color: var(--active-link-color);
}
.link-general {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  /* line-height: 1.19; */
  color: rgba(0, 0, 0, 1);
  margin-right: 47px;
}
.logo {
  color: var(--active-link-color);
}

.link-general:visited {
  color: transparent;
}
.contact {
  display: flex;

  /* background-color: aquamarine; */
}
.contact .link {
  color: var(--alt-text-color);
  margin: 25px;
}

/* .contact .link:not(:last-chid) {
  margin: 50px;
}
.contact .link (:last-chid) {
  margin-right: 12px;
} */
.contact .link:hover,
.contact .link:focus {
  color: var(--active-link-color);
}
/* eliminuje kursywe w adresie */
.address {
  font-style: normal;
}
.home-buttonfield .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 106px;
  padding-bottom: 106px;
  /* height: 600px; */
}
.home-buttonfield {
  background-color: var(--addition-bg-color);
  /* border-radius: 0px; */
  /* height: 600px; */
}
.welcome {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.orderbutton {
  background-color: var(--active-link-color);
  color: var(--footer-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}
.about {
  /* border: 1px solid r  ed; */
  display: flex;
  height: 100%;
  /* padding-top: 94px; */
}
.activity .container {
  display: flex;
  /* flex-direction: row | row-reverse | column | column-reverse; */
  flex-direction: column;
  /* margin: 94px auto; */
}
.activity {
  padding-top: 0;
}
.team {
  background-color: rgba(245, 244, 250, 1);
  /* padding: 94px; */
}
.team .container {
  display: flex;
  flex-direction: column;
}
.scope {
  display: flex;
  justify-content: space-between;
  /* margin:   0 auto; */

  /* height: 100%; */
}
/* .scope-element {
  padding: 15px;
} */

.sectionheader {
  font-size: 36px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.text-header {
  font-size: 14px;
  line-height: 1.14;
}
.text {
  line-height: 1.71;
  color: var(--alt-text-color);
}
.teamlabel {
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  padding: 30px;
  background-color: var(--footer-text-color);
}
.silhouette {
  margin: auto;
  display: flex;
  flex-flow: column;
}
.name-coworker {
  font-weight: 500;
}
.profession {
  color: var(--alt-text-color);
}
.filter-buttons {
  display: flex;
  justify-content: center;
  /* padding-top: 100px; */
  padding-bottom: 50px;
}
.filter-buttons .button {
  font-family: 'Roboto';
  font-style: normal;
  border: none;
  background: var(--button-bg-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  font-weight: 500;
  padding: 6px 22px;
  margin: 0 4px;
}

.filter-buttons .button:active,
.filter-buttons .button:focus,
.filter-buttons .button:hover {
  color: var(--footer-text-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* .portfolio {
  padding: 94px;
} */
.portfolio .container {
  display: flex;
  flex-direction: column;
}
.creations {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
/* .nth-creation { */
/* margin: 0 auto; */
/* border: 1px solid green; */
/* flex-basis: calc(100% / 3);} */
.figure {
  margin: auto;
  display: flex;
  flex-flow: column;
  /* flex-basis: calc(100% - 90px / 3); */
  /* padding-top: 15px;
  padding-bottom:15px; */
  /* border: 1px dotted yellow; */
  /* flex-direction:column; */
  /* border: 1px solid rgba(238, 238, 238, 1) */
}
.figcaption {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.name-of-project {
  font-size: 18px;
  line-height: 2;
}
.kind-of-project {
  font-size: 16px;
  line-height: 1.89;
}
.footer {
  color: var(--footer-text-color);
  line-height: 1.71;
  font-weight: 400;
  background: var(--addition-bg-color);
  /* height: 252px; */
}
.footer .container {
  /* height: 252px; */
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .ft-container .link-general{
  padding-bottom: 20px;
} */
.studio {
  color: var(--footer-text-color);
}
.address {
  padding-top: 20px;
}

.contact-links .link {
  color: var(--ft-contact-color);
  line-height: 1.71;
}
.contact-links .link:hover,
.contact-links .link:focus {
  color: var(--active-link-color);
}
